/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

/* Body styling */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 100%;
    width: 100%;
}
#toast-message{
    display: none;
    position: fixed;
    top: 5%;
    left: 10px;
    width: 50%;
    height: 50px;
    background: rgba(15, 6, 46, 0.8);
}
#toast-message #toast-message-body{ 
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    /* background-color: #4CAF50; */
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.container{
    margin-bottom: 100px;
}


/* Styling for the color boxes */
.color-box {
    width: 200px;
    height: 130px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

/* Hover effect for the color boxes */
.color-box:hover {
    transform: scale(1.01); /* Slightly increase size on hover */
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.8); /* Deeper shadow */
}

/* Styling for the load button */
button#load {
    position: fixed;
    bottom: 80px; /* Adjusted to be at the bottom */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

/* Footer styling */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Mobile view - Show 2 boxes per row */
@media only screen and (max-width: 500px) {
    .color-box {
        width: 45%;
        height: 100px;
        margin: 5px;
    }
}

/* Desktop view - Show 3 boxes per row */
@media only screen and (min-width: 601px) {
    .color-box {
        width: 30%;
        height: 130px;
        margin: 5px;
    }
}